---
---

@import "main";

/* FORCE override */
.preview-img img {
  height: auto !important;
  max-height: none !important;
  object-fit: contain !important;
}

.preview-img {
  aspect-ratio: auto !important;
  height: auto !important;
}